apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  labels:
    app: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        
        volumeMounts:
        - name: html-content
          mountPath: /usr/share/nginx/html
          readOnly: true
        
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "64Mi"
            cpu: "200m"
      
      volumes:
      - name: html-content
        configMap:
          name: demo-app-html